#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

CMAKE_OPTS := -DDISABLE_WERROR=ON -DHAVE_DOT=YES \
              -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)" \
              -DCMAKE_BUILD_TYPE=RelWithDebInfo \
              -DENABLE_EXAMPLES=NO \
              -DFORCE_STATIC_SERVICE_LIBRARY=YES \
              -DENABLE_TESTS=NO \



%:
	dh $@ --with pkgkde_symbolshelper --parallel

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_OPTS) \
                      -DDESIRED_QT_VERSION=5

override_dh_auto_build-arch:
	dh_auto_build --parallel

override_dh_auto_build-indep:
	dh_auto_build -- doxygen-doc

override_dh_strip:
	dh_strip --remaining-packages --dbg-package=libtelepathy-qt5-dbg

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install --fail-missing

# -i is for the doc package, which doesn't depend on the shared library
override_dh_installdocs:
	dh_installdocs -i
	dh_doxygen -i
	rm -f debian/libtelepathy-qt5-doc/usr/share/doc/libtelepathy-qt5-doc/html/jquery.js

override_dh_auto_clean:
	dh_auto_clean
	find . -name '*.pyc' -exec rm {} \;

get-orig-source:
	uscan --verbose --force-download --repack --compression xz
